<p>*必填欄位</p>
<h2>請修改你的支出</h2>
<form action="/records/{{ record._id }}/edit?_method=PUT" method="POST">
  <div class="form-group">
    <label for="category">名稱*：</label>
    <input required class="form-control" type="text" placeholder="name" name="name" value="{{ record.name }}">
  </div>
  <div class="form-group">
    <label for="date-input">日期＊：</label>
    <input required class="form-control" type="date" value="{{record.date}}" placeholder="date" name="date">
  </div>
  <div class="form-group">
    <label for="category">類別*：</label>
    <select required id="category" class="form-control" name="category">
      <option value="">請選擇類型</option>
      {{#each categories}}
      <option value="{{this._id}}" {{#ifeq ../record.category this._id}} selected {{/ifeq}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="date-input">金額＊：</label>
    <input required class="form-control" type="number" placeholder="amount" name="amount" value="{{record.amount}}">
  </div>
  <div class="form-group justify-content-start">
    <button type="submit" class="btn btn-info">送出</button>
    <a href="/">
      <button type="button" class="btn btn-warning ml-3">返回</button>
    </a>
  </div>
</form>