<script>
  function updateOptions() {
    const category = document.getElementById("category").value
    const month = document.getElementById("month").value
    document.location.href = '/?category=' + category + '&month=' + month
  }
</script>
<div class="sorts col-8">
  <form class="d-flex d-flex-nowrap justify-content-start align-items-center mt-3 mb-3" action="/" method="GET">
    <div class="form-group mr-3">
      <select name="sort" id="category" class="form-control" name="category" onchange="updateOptions()">
        <option value="all" {{#ifeq category 'all' }} selected {{/ifeq}}>全部類別</option>
        {{#each categories}}
        <option value="{{this._id}}" {{#ifeq ../category this._id}} selected {{/ifeq}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <select name="sort" id="month" class="form-control" name="month" onchange="updateOptions()">
        <option value="all" {{#ifeq ../month 'all' }} selected {{/ifeq}}>全部月份</option>
        <option value="1" {{#ifeq month '1' }} selected{{/ifeq}}>一月</option>
        <option value="2" {{#ifeq month '2' }} selected{{/ifeq}}>二月</option>
        <option value="3" {{#ifeq month '3' }} selected{{/ifeq}}>三月</option>
        <option value="4" {{#ifeq month '4' }} selected{{/ifeq}}>四月</option>
        <option value="5" {{#ifeq month '5' }} selected{{/ifeq}}>五月</option>
        <option value="6" {{#ifeq month '6' }} selected{{/ifeq}}>六月</option>
        <option value="7" {{#ifeq month '7' }} selected{{/ifeq}}>七月</option>
        <option value="8" {{#ifeq month '8' }} selected{{/ifeq}}>八月</option>
        <option value="9" {{#ifeq month '9' }} selected{{/ifeq}}>九月</option>
        <option value="10" {{#ifeq month '10' }} selected{{/ifeq}}>十月</option>
        <option value="11" {{#ifeq month '11' }} selected{{/ifeq}}>十一月</option>
        <option value="12" {{#ifeq month '12' }} selected{{/ifeq}}>十二月</option>
      </select>
    </div>
  </form>
</div>

<div class="col-8 d-flex justify-content-between">
  <h5 class="">總金額：</h5>
  <h4 class="total-amount"><i class="fas fa-dollar-sign"></i>{{totalAmount}}</h4>
</div>
<div class="input-group d-flex justify-content-between mt-3 mb-3">
  {{#each records}}
  <div class="input-group-text col-8 d-flex">
    <i class="category-icon col-1 fas {{this.category.icon}}"></i>
    <div class="d-flex flex-column align-items-start">
      <h5 class="m-0 record-name">{{this.name}}</h5>
      <p class="m-0 record-date">{{formatDate this.date}}</p>
    </div>
    <h5 class="record-amount ml-auto d-inline-flex p-2 m-0 align-items-center"><i
        class="fas fa-dollar-sign"></i>{{this.amount}}</h5>
  </div>
  <div class="col-3 d-flex justify-content-around align-items-center">
    <a class="btn btn-outline-info" href="./records/{{this._id}}/edit">修改</a>
    <form action="/records/{{this._id}}/?_method=DELETE" method="POST" style="display: inline;"
      onsubmit="return confirm('Do you really want to delete {{this.name}} expense?')"><button
        class="btn btn-outline-danger" type="submit">刪除</button></form>
  </div>
  {{/each}}
</div>
<a class="btn btn-info col-8" href="./records/new">新增支出</a>