<div class="form-group">
  <form action="/" method="GET">
    <select name="sort" id="category" class="form-control" name="category"
      onchange="document.location.href='/?category=' + this.value">
      <option value="all" {{#ifeq category 'all' }} selected {{/ifeq}}>全部類別</option>
      {{#each categories}}
      <option value="{{this._id}}" {{#ifeq ../category this._id}} selected {{/ifeq}}>{{this.name}}</option>
      {{/each}}
    </select>
  </form>
</div>

<div>
  <h1>總金額：{{totalAmount}}</h1>
</div>

<ul>
  {{#each records}}
  <li>
    {{this.name}}
    <i class="fas {{this.category.icon}}"></i>
    {{this.date}}
    {{this.amount}}
    <a href="./edit/{{this._id}}">修改</a>
    <form action="/{{this._id}}?_method=DELETE" method="POST" style="display: inline;"
      onsubmit="return confirm('Do you really want to delete {{this.name}} expense?')"><button
        class="btn btn-danger btn-delete ml-1" type="submit">刪除</button></form>
  </li>
  {{/each}}
</ul>
<a href="./new">新增支出</a>