<h1>總金額：{{totalAmount}}</h1>

<ul>
  {{#each records}}
  <li>
    {{this.name}}
    {{this.category.name}}
    {{this.date}}
    {{this.amount}}
    <a href="./edit/{{this._id}}">修改</a>
    <form action="/delete/{{this._id}}" method="POST" style="display: inline;"
      onsubmit="return confirm('Do you really want to delete this expense?')"><button
        class="btn btn-danger btn-delete ml-1" type="submit">刪除</button></form>
  </li>
  {{/each}}
</ul>
<a href="./new">新增支出</a>